<div class="container mt-5 mb-3 mx-auto">
  <div class="row mb-4">
    <div class="d-flex col-12">
      <h3 class="col-3 text-center bg-light">商品一覧</h3>
      <div class="col-8"></div>
      <div class="col-1">
        <h3 class="float-end shadow rounded-circle text-center" style="width:3rem;height:3rem;">
          <%= link_to '＋', new_admin_item_path, class: 'text-secondary align-middle' %>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= render 'index', items: @items %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @items %>
    </div>
  </div>
</div>