<div class="container mt-5 mb-3 mx-auto">
  <div class="row m-4">
    <div class="col-12">
      <h3 class="col-3 text-center bg-light">商品一覧</h3>
      <div class="">
        <h3 class="shadow rounded-circle"><%= link_to '＋', new_admin_item_path, class: 'text-secondary' %></h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= render 'index', items: @items %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%= paginate @items %>
    </div>
  </div>
</div>