
<div class="border border-3 border-dark">
  <div class="text-center h-10">
    <strong>ジャンル検索</strong>
  </div>
  <div class="border-top border-dark">
    <% genres.each do |genre| %>
      <p class="m-3">
        <%= link_to genre.name, search_path(name: genre.name, word: genre.id, model: "genre", method: "perfect"), class: 'text-dark' %>
      </p>
    <% end %>
  </div>
</div>