<table class="table table-bordered">
  <thead class="text-center">
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="d-flex flex-column">
        <% items.each do |item| %>
        <p>
          <%= link_to item.genre.name, search_path(word: item.genre.name, model:"genre", method: "perfect"), class: 'text-dark' %>
        </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>